name: End-to-end Test

on: pull_request

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10"]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
      - name: Run end-to-end test on self
        run: |
          rm CHANGELOG.md
          doculog
          cat CHANGELOG.md
          [ -s CHANGELOG.md ] || (echo "Changelog is empty" && exit 1)
          if [[ $(wc -l <CHANGELOG.md) -le 6 ]] ; then echo "Did not generate useful changelog" && exit 1 ;fi
        shell: bash
